.titulo{
    text-align: center;
}

.login{
    text-align: center;
}

.produtos{
    text-align: center;
}



.button {
    float: center;
    border: 1px solid rgb(13, 0, 128);
    font-size: 16px;
    transition-duration: 0.4s;
  }

  .button:hover {
    background-color: #6a4caf; /* Green */
    color: white;
  }

    
    #menu ul {
        margin-left: 50%;
        margin-right: 50%;
        padding:0px;
        margin:0px;
        
        float: center;
        width: 50%;
        background-color:#EDEDED;
        list-style:none;
        font:80% Tahoma;
        
    }

    #menu ul li { display: inline; }

    #menu ul li a {
        background-color:#EDEDED;
        color: #333;
        text-decoration: none;
        border-bottom:3px solid #EDEDED;
        padding: 2px 10px;
        float: left;
    }

    #menu ul li a:hover {
        background-color:#D6D6D6;
        color: #6D6D6D;
        border-bottom:3px solid #EA0000;
    }
  